{% extends "base.html" %}
{% load i18n %}

{% block title %}新增疾病{% endblock %}


{% block head_extra%}

<script>

$(document).ready(function(){
	
});

</script>

{%endblock %}


{% block nav_list%} 
	<li><a href="/bingli/index/">患者列表</a></li>
	<li><a href="/bingli/histories/0/">病历列表</a></li>
	<li class="active"><a href="/bingli/btypes/">疾病列表</a></li>
	<li><a href="/bingli/bcates/">疾病类别</a></li>
{% endblock %}



{% block content%}
	<form enctype="multipart/form-data" action="/bingli/addbtype/" method="post"  class="ym-form">{% csrf_token %}
	
	<h4>新建-疾病</h4><br>
	
	<div class="ym-fbox-text">
		<label for="name">名称</label>
		{{form.name}}
		<font color='red'>{{form.name.errors}}</font>
	</div>

	<div class="ym-fbox-text">
		<label for="category">所属分类</label>
		{{form.category}}
		<font color='red'>{{form.category.errors}}</font>
	</div>
	
	<div class="ym-fbox-text">
		<label for="name">描述</label>
		{{form.desc}}
		<font color='red'>{{form.desc.errors}}</font>
	</div>
					
	<div class="ym-fbox-button">
 		<input type="submit" class="ym-button" value="保存" id="submit" name="submit" />
 		<input type="button" class="ym-button" value="返回" onclick="javascript:location.href='/bingli/btypes/'" />
 	</div>
	
	</form>

 
{% endblock %}
